<div class="container">
  <h1>New Game</h1>
</div>

<div class="container">
  <% @letters.each do |letter| %>
  <li><div class="box rounded"><%= letter %></div></li>
  <% end %>
</div>

<div class="container my-3">
  <form action="score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="form-group">
      <label for="answer">Enter your word!</label>
      <input type="text" class="form-control" name="answer" id="answer">
      <input type="hidden" id="letters" name="letters" value="<%= @letters %>">
    </div>
    <button type="submit" class="btn btn-primary">Answer!</button>
  </form>
</div>

<%= session[:score] %>
